In [56]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(5, 4), 
                  [10, 20, 30, 40, 50], 
                  ['A', 'B', 'C', 'D'])
df

     A   B   C   D
10   8   4  61  74
20  76  87  44  29
30  73  86  76  70
40  41  22  18  88
50  44  82  44  62

Создайте DataFrame, следуя инструкциям. Выберите из неё все строки, в которых значения в столбце A меньше 30

In [57]:
df[df['A'] < 30]

    A  B   C   D
10  8  4  61  74

Создайте DataFrame, следуя инструкциям. Выберите из неё все строки, в которых значения в столбце A меньше 50 или значения в столбце B меньше 40

In [59]:
df[(df['A'] < 50) | (df['B'] < 40)]

     A   B   C   D
10   8   4  61  74
40  41  22  18  88
50  44  82  44  62

Создайте DataFrame, следуя инструкциям. Выберите из неё значения столбцов A и B во всех строках, в которых значения в столбце C больше 20 и значения в столбце D меньше 70

In [61]:
df[(df['C'] > 20) & (df['D'] < 70)][['A', 'B']]

     A   B
20  76  87
50  44  82