Создайте DataFrame, состоящую из 5 столбцов и 7 строк, в которой будут целые значения возраста от 1 до 100 включительно. Для столбцов используйте названия стран, для индексов строк - буквы латинского алфавита от a до g

In [14]:
import numpy as np
import pandas as pd

pd.DataFrame(np.random.randint(1, 101, 35).reshape(7, 5), 
             ['a', 'b', 'c', 'd', 'e', 'f', 'g'], 
             ['France', 'Spain', 'Italy', 'Germany', 'Great Britain'])

   France  Spain  Italy  Germany  Great Britain
a      20     98     65       40              4
b      34     42     99       81             79
c      96     17     18       16              3
d      74     64     71       16             35
e      53     53     72       39             54
f      46     73     14       32             21
g      29     38     72       68             46